<style>
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
  }

  a:hover {
    color: #125699;
  }

</style>

<header>
    <a routerLink="/">Home</a>
    <a routerLink="/list">list student</a>
</header>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>

