form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: auto;
}

label {
  font-weight: bold;
}



input {
  background: #FFFFFF;
  border-radius: 15px;
  padding: 15px 24px 17px;
  width: 360px;
  border: 1px solid #888888;
  margin-right: 10px;
}
.btn {
  padding: 15px 24px 17px;
  background: #17ABEB;
  border-radius: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  outline: none;
  border: 1px solid transparent;
  margin-top: 10px;
  width: 100%;
}

.errors {
  color: red;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
}
.btn:disabled {
  background: #727d82;
  cursor: not-allowed;
}
h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  color: #000000;
}
.firstName, .lastName {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.firstName label, .lastName label {
  font-weight: 500;
  font-size: 32px;
  line-height: 110%;
  color: #000000;
  margin-bottom: 10px;
}

.success-message {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
  animation: fadeOut 1s ease;
  max-width: 400px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 25px;
  border-radius: 16px;
  text-align: center;
  margin-top: 20px;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}