
<div class="add-student-form">
  <h2>Add New Student</h2>
  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
    <div class="firstName">
      <label for="firstName">First Name:</label>
      <input id="firstName" type="text" formControlName="firstName">
      <div *ngIf="studentForm.get('firstName')?.invalid && (studentForm.get('firstName')?.dirty || studentForm.get('firstName')?.touched)">
        <div *ngIf="studentForm.get('firstName')?.errors?.['required']" class="errors">First name is required.</div>
        <div *ngIf="studentForm.get('firstName')?.errors?.['minlength'] "  class="errors">First name must be at least 3 characters long.</div>
      </div>
    </div>
    <div class="lastName">
      <label for="lastName">Last Name:</label>
      <input id="lastName" type="text" formControlName="lastName">
      <div *ngIf="studentForm.get('lastName')?.invalid && (studentForm.get('lastName')?.dirty || studentForm.get('lastName')?.touched)">
        <div *ngIf="studentForm.get('lastName')?.errors?.['required']"  class="errors">Last name is required.</div>
        <div *ngIf="studentForm.get('lastName')?.errors?.['minlength']"  class="errors">Last name must be at least 3 characters long.</div>
      </div>
    </div>
    <button type="submit" class="btn" [disabled]="!studentForm.valid">Add Student</button>
  </form>
  <div *ngIf="isStudentAdded" class="success-message">
    Student has been successfully added!
  </div>
</div>
