.sortmenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search label {
  font-weight: 600;
  font-size: 25px;
  line-height: 110%;
  text-align: center;
  color: #000000;
}
 h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  color: #000000;
}
input {
  background: #FFFFFF;
  border-radius: 15px;
  padding: 15px 24px 17px;
  width: 360px;
  border: 1px solid #888888;
  margin-right: 10px;
}
button {
  padding: 15px 17px;
  background: #17ABEB;
  border-radius: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  outline: none;
  border: 1px solid transparent;
  margin-right: 10px;
}
.list {
  list-style: none;
  text-align: center;
}
.list li {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
  height: 200px;
}

.title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
  font-weight: 600;
  font-size: 36px; 
}

.list--item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  max-width: 1000px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.empty {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  max-width: 1000px;
}