<div class="sortmenu">
  <button (click)="sortByFirstNameAsc()">Sort by name</button>
  <div class="search">
    <label>Search:</label>
    <input type="text" [(ngModel)]="searchQuery" (input)="onSearch($event)">
  </div>
  <button (click)="sortByLastNameAsc()">Sort by last name</button>
</div>
<div class="title">
  <p>firstName</p>
  <p>lastName</p>
  <p>grade</p>
</div>
<ul class="list" *ngIf="(students$ | async)?.length; else empty">
  <li *ngFor="let student of students$  | async" class="list--item">
    <p>{{student.firstName}}</p>
    <p>{{student.lastName}}</p> 
    <div class="btns">
      <app-grades [grade]="student.grade" (updateStudent)="updateStudentGrade(student.id, $event)"></app-grades>
      <button (click)="deleteStudentGrade(student.id)">Delete</button>
    </div>
  </li>
</ul>
<ng-template #empty>
  <p class="empty">List is empty</p>
</ng-template>
 