.grade-form {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.grade-form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.grade-form input[type="number"] {
  width: 100px;
  padding: 15px 17px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  margin-left: 10px;
}

.errors {
  color: red;
  font-weight: 500;
  font-size: 18px;
  margin-top: 5px;
}
  
.grade-form button[type="submit"],
.grade-form button {
  padding: 15px 17px;
  background: #17ABEB;
  border-radius: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  outline: none;
  border: 1px solid transparent;
  margin-right: 10px;
}

.grade-form button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  margin-right: 10px;
}

.grade-form button[type="submit"]:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
}

.grade {
  position: relative;
}
.list-errors {
  position: absolute;
}