<div class="grade">
  <form [formGroup]="gradeForm" (ngSubmit)="onSubmit()"  class="grade-form">
    <label>
      Grade:
    </label>
      <input type="number" formControlName="grade" [(ngModel)]="grade">
      <div class="error-message" *ngIf="gradeForm.get('grade')?.invalid && (gradeForm.get('grade')?.dirty || gradeForm.get('grade')?.touched)">
      </div>
      <button type="submit">Save</button>
  </form>
</div>
<div class="list-errors">
  <div *ngIf="gradeForm.get('grade')?.errors?.['required']" class="errors">Grade is required</div>
  <div *ngIf="gradeForm.get('grade')?.errors?.['min']" class="errors">Grade must be at least 0</div>
  <div *ngIf="gradeForm.get('grade')?.errors?.['max']" class="errors">Grade must be at most 100</div>
</div>

